<!DOCTYPE html>
<html lang="pt_br"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{_layout}">
<body>
	<section layout:fragment="content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-4">
					<section class="panel">
						<div class="panel-body">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">
										<h3>
											<b>Vehicles</b>
										</h3>
									</h5>
									<p class="card-text">Vehiches.</p>
									<a href="#" class="btn btn-primary">Manage Vehicles</a>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-lg-4">
					<section class="panel">
						<div class="panel-body">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">
										<h3>
											<b>Vehicle Hires</b>
										</h3>
									</h5>
									<p class="card-text">Vehicles hires</p>
									<a href="#" class="btn btn-primary">View Hires</a>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-lg-4">
					<section class="panel">
						<div class="panel-body">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">
										<h3>
											<b>Vehicle Movements</b>
										</h3>
									</h5>
									<p class="card-text">Vehicle Movements</p>
									<a href="#" class="btn btn-primary">Manage Movements</a>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<section class="panel">
						<div class="panel-body">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">
										<h3>
											<b>Vehicle Maintenance</b>
										</h3>
									</h5>
									<p class="card-text">Vehicle Maintenance</p>
									<a href="#" class="btn btn-primary">Maintenance Record</a>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-lg-4">
					<section class="panel">
						<div class="panel-body">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">
										<h3>
											<b>Vehicle Types</b>
										</h3>
									</h5>
									<p class="card-text">Vehicle Types</p>
									<a href="#" class="btn btn-primary">Manage Vehicle Types</a>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-lg-4">
					<section class="panel">
						<div class="panel-body">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">
										<h3>
											<b>Vehicle Status</b>
										</h3>
									</h5>
									<p class="card-text">Vehicle Status</p>
									<a href="#" class="btn btn-primary">Manage Vehicle Status</a>
								</div>
							</div>
						</div>
					</section>
				</div>

			</div>
			<div class="row">
				<div class="col-lg-4">
					<section class="panel">
						<div class="panel-body">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">
										<h3>
											<b>Vehicle Makes</b>
										</h3>
									</h5>
									<p class="card-text">Vehicle Makes</p>
									<a href="#" class="btn btn-primary">Manage Vehicle Makes</a>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-lg-4">
					<section class="panel">
						<div class="panel-body">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">
										<h3>
											<b>Vehicle Models</b>
										</h3>
									</h5>
									<p class="card-text">Manage models.</p>
									<a href="#" class="btn btn-primary">Manage Vehicle Models</a>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>

		</section>
	</section>
</body>
</html>